/* * Mobile Breakpoints */
@media (min-width: 640px) {
	.search__form {
		flex-direction: row;
	}

	.search__input {
		text-align: left;
	}

	.search__container-inner {
		width: 90%;
		margin: 0 auto;
	}

	.tour__card-img {
		aspect-ratio: auto;
		height: 225px;
	}

	.destinations__grid {
		grid-template-columns: 1fr 1fr;
	}

	.footer__container {
		flex-direction: row;
	}

	.footer__icons {
		justify-content: flex-start;
	}

	.footer__item {
		text-align: left;
		width: initial;
	}
}

/* * Tablet Breakpoints */
@media (min-width: 768px) {
	.destinations__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 810px) {
	.tours__grid {
		grid-template-columns: 1fr 1fr;
	}
}

/* * Header & Footer Breakpoints */
@media (min-width: 830px) {
	.header__container {
		flex-direction: row;
	}

	.header__menu {
		flex-direction: row;
		margin: 0;
	}

	.footer__menu {
		flex-direction: column;
	}
}

/* * Desktop Breakpoints */
@media (min-width: 1024px) {
	.tours__grid {
		grid-template-columns: 1fr 1fr;
	}

	.tour__card-pricing {
		flex-direction: row;
	}

	.tour__card-details {
		text-align: left;
	}

	.destinations__grid {
		grid-template-columns: 200px 1fr 2fr;
		grid-template-rows: repeat(2, 200px);
	}

	.destination__item {
		aspect-ratio: auto;
	}

	.destination__item--span-2 {
		grid-row: span 2;
	}

	.footer__slogan,
	.footer__address {
		margin: 0 0 1rem 0;
	}

	.footer__icons {
		justify-content: flex-start;
	}
}

@media (min-width: 1306px) {
	.tours__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}