/* * Header Component Styles */
@media (min-width: 974px) {
	.header__container {
		flex-direction: row;
	}

	.header__menu {
		flex-direction: row;
		margin: 0 0 0 2rem;
	}
}

/* * Section Component Styles */
@media (min-width: 1024px) {
	.section__container--split {
		flex-direction: row;
	}
}

@media (min-width: 1306px) {
	.section__container--split {
		align-items: flex-start;
	}
}

/* * Article Card Component Styles */
@media (min-width: 768px) {
	.article__card {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.article__card--alternate {
		flex-direction: row;
	}

	.article__card-img {
		border-radius: 0;
		border-bottom-right-radius: 1rem;
		border-top-right-radius: 1rem;
		aspect-ratio: auto;
	}

	.article__card-img--alternate {
		border-radius: 0;
		border-bottom-left-radius: 1rem;
		border-top-left-radius: 1rem;
		aspect-ratio: auto;
	}
}

/* * Destination Styles */
@media (min-width: 404px) {
	.destination__card-details {
		text-align: left;
		flex-direction: row;
	}
}

@media (min-width: 640px) {
	.destination__card-img {
		aspect-ratio: auto;
		height: 280px;
	}

	.destinations__grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 768px) {
	.destinations__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.destination-cards__grid {
		grid-template-columns: 1fr 1fr;
	}

	.destination__card--span-2-cols {
		grid-column: 1/3;
	}
}

@media (min-width: 1024px) {
	.destinations__grid {
		grid-template-columns: 200px 1fr 2fr;
		grid-template-rows: repeat(2, 200px);
	}

	.destination__item {
		aspect-ratio: auto;
	}

	.destination__item--span-2 {
		grid-row: span 2;
	}
}

@media (min-width: 1306px) {
	.destination-cards__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.destination__card--span-2-cols {
		grid-column: auto;
	}

	.destination__card-img {
		aspect-ratio: auto;
		height: 225px;
	}
}

/* * Profile Card Component Styles */
@media (min-width: 640px) {
	.profile__card-img {
		aspect-ratio: auto;
		height: 280px;
	}
}

@media (min-width: 768px) {
	.profiles__grid {
		grid-template-columns: 1fr 1fr;
	}

	.profile__card--span-2-cols {
		grid-column: 1/3;
	}
}

@media (min-width: 1144px) {
	.profiles__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.profile__card--span-2-cols {
		grid-column: auto;
	}

	.profile__card-img {
		aspect-ratio: auto;
		height: 225px;
	}

	.profile__card-details {
		text-align: left;
		flex-direction: row;
	}
}

/* * Search Component Styles */
@media (min-width: 640px) {
	.search__form {
		flex-direction: row;
	}

	.search__input {
		text-align: left;
	}

	.search__container-inner {
		width: 90%;
		margin: 0 auto;
	}
}

/* * Tour Card Component Styles */
@media (min-width: 640px) {
	.tour__card-img {
		aspect-ratio: auto;
		height: 280px;
	}
}

@media (min-width: 810px) {
	.tours__grid {
		grid-template-columns: 1fr 1fr;
	}

	.tour__card--span-2-cols {
		grid-column: 1/3;
	}
}

@media (min-width: 1024px) {
	.tour__card-pricing {
		flex-direction: row;
	}

	.tour__card-details {
		text-align: left;
	}
}

@media (min-width: 1306px) {
	.tours__grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.tour__card--span-2-cols {
		grid-column: auto;
	}

	.tour__card-img {
		aspect-ratio: auto;
		height: 225px;
	}
}

/* * Footer Component Styles */
@media (min-width: 640px) {
	.footer__container {
		flex-direction: row;
	}

	.footer__item {
		text-align: left;
		width: initial;
	}

	.footer__icons {
		justify-content: flex-start;
	}

	.footer__address {
		margin: 0 1rem;
	}
}

@media (min-width: 830px) {
	.footer__menu {
		flex-direction: column;
	}
}

@media (min-width: 1024px) {
	.footer__slogan {
		margin: 0 0 1rem 0;
	}

	.footer__copyright {
		margin: 0 0 1rem 0;
	}

	.footer__address {
		margin: 0 1rem 1rem 1rem;
	}

	.footer__icons {
		justify-content: flex-start;
	}
}